* {
  cursor: none;
}
.App {
  text-align: center;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.apple_logo {
  width: 9vh;
}

.progress-bar-outer {
  width: 250px;
  height: 6px;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  bottom: 100px;
  background-color: #262626;
  border: 1px solid #3B3B3B;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar-inner {
  height: 20px; /* Hauteur de la barre de chargement */
  background-color: white; /* Couleur de remplissage blanc */
  width: 0; /* Défini par la prop 'progress' */
  transition: width 0.2s ease-in-out; /* Transition douce pour l'animation */
}

.progress-bar-outer, .progress-bar-inner {
  box-sizing: border-box;
}

.update_msg {
  color: #fff;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  bottom: 60px;
  width: 300px;
  font-size: 0.7rem;
}
